.views-exposed-form {
  .form-submit {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
    line-height: normal;

    &:hover,
    &:focus {
      color: inherit;
      text-decoration: none;
      outline: 0;
    }
  }

  .form-item-query {
    //width: calc(100% - 70px);

    input {
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: normal;
      display: inline-block;
      background-color: transparent;
      border: 0;
      border-radius: 0;
      box-shadow: none;
      vertical-align: text-bottom;
      margin: 16px 0;
      width: 100%;
      &:focus {
        outline: none;
        box-shadow: none;
        border-color: transparent;
      }
    }
  }
}

.block-top-search-block {
  @include media-breakpoint-down(md) {
    width:100%;
  }
  .views-exposed-form {

    label {
      display: none;
    }
    .form-actions {
      display: none;
    }
    .form-row {
      @include media-breakpoint-down(md) {
        width:100%;
      }
    }
    .form-item-query {
      margin: 0;
      padding: 0;
      position: relative;
      @include media-breakpoint-down(md) {
        width:100%;
      }
      &:after {
        content:"";
        background-image: url(../images/icon_search_pos.png);
        position: absolute;
        right: 0;
        top: 0;
        width: 45px;
        height: 45px;
        background-size: 18px 18px;
        background-position: center center;
        background-repeat: no-repeat;
      }
      input,
      input:focus {
        background-color: $green-darker;
        border: 0;
        border-radius: 0;
        color: $white;
        margin: 0;
        height: 44px;
        padding-right: 34px;
        letter-spacing: 0.08em;
        width: 250px;
        @include media-breakpoint-down(md) {
          width:100%;
        }
      }
    }
    .form-text::placeholder {
      color: $white;
      padding-left: 10px;
      opacity: 1;
    }

    .form-text:-ms-input-placeholder {
      color: $white;
      padding-left: 10px !important;
      opacity: 1 !important;
    }
    @include media-breakpoint-down(md) {
      padding:$spacer * 2;
    }
  }

}

.ui-autocomplete {
  z-index: 1001;
  background-color: #01463a;
  //border: 0!important;

  .ui-state-active,
  .ui-widget-content .ui-state-active,
  .ui-widget-header .ui-state-active,
  a.ui-button:active,
  .ui-button:active,
  .ui-button.ui-state-active:hover {
    border: 0;
    background: #003a2e/*{bgColorActive}*/ /*{bgImgUrlActive}*/ /*{bgActiveXPos}*/ /*{bgActiveYPos}*/ /*{bgActiveRepeat}*/;
    //font-weight: normal/*{fwDefault}*/;
    color: #ffffff/*{fcActive}*/;
  }
  .ui-icon-background,
  .ui-state-active .ui-icon-background {
    border: 0;
    background-color: #ffffff/*{fcActive}*/;
  }

  .ui-menu-item {
    color: white;
    padding: 0;
    margin: 0;
  }

  a.ui-menu-item-wrapper {
    display: block;
    color: #ffffff;
    padding: 5px 15px 5px 5px;
    border: 0;
    margin: 0;
    &:hover {
      background: #003a2e;
    }
  }

  .search-api-autocomplete-suggestion {


    padding: 3px 5px;
    position: relative;
    white-space: normal;
    line-height: 18px;
    border-left: 5px solid #009647;
    background-color: #01463A;
    margin: 5px 1px 2px 15px;

    &:hover {
      background-color: #003a2e;

    }

    .autocomplete-suggestion-user-input {
      color: #ffffff;
      font-weight: 700;
    }

    .autocomplete-suggestion-suggestion-suffix {
      color: #ffffff;
    }
  }
}

.search-api-autocomplete-search .ui-menu-item:hover {
  background-color: #003a2e;
}

.search-api-autocomplete-search .ui-menu-item-wrapper.ui-state-active .search-api-autocomplete-suggestion {
  background: #003a2e;
  color: #FFF;
}
